# MATH 104.1: Coding Exercise 1 (Linear Regression)
Submitted by Val Allen U. Eltagonde

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

## 0Ô∏è‚É£ Importing the data

In [28]:
df = pd.read_csv('house_pricing.csv')
df.head()

,HOUSE_ID,floor_area,distance_to_cc,house_age,number_of_rooms,number_of_baths,house_price
0,H0001,52.16,11.85,44,6,1.0,269.35
1,H0002,215.95,15.89,40,2,3.0,720.86
2,H0003,191.86,13.67,45,2,3.0,672.68
3,H0004,239.91,26.34,11,5,3.5,873.12
4,H0005,113.07,14.69,32,5,1.5,466.75

## 1Ô∏è‚É£ Splitting the data into train and test sets

In [29]:
X = df[['floor_area', 'distance_to_cc', 'house_age', 'number_of_rooms', 'number_of_baths']]
y = df[['house_price']]
train_size = 0.8
test_size = 0.2

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, train_size=train_size, random_state=1)

## 2Ô∏è‚É£ Scaling the training data

In [33]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)

## 3Ô∏è‚É£ Performing PCA on the raw and the scaled data

In [34]:
pca = PCA()
X_train_scaled_pca = pca.fit_transform(X_train_scaled)
X_test_scaled_pca = pca.transform(X_test)

In [41]:
pca.explained_variance_ratio_.round(5)

array([0.50591, 0.29065, 0.19996, 0.00349, 0.     ])

üí° Observation: PCA components 1 to 3 explain at least 95% of the variance in the data.

In [47]:
component_cutoff = 3
X_train_scaled_reduced = X_train_scaled_pca[:,:component_cutoff]
X_test_scaled_reduced = X_test_scaled_pca[:,:component_cutoff]

## 4Ô∏è‚É£ Creating a Python method for model training and evaluation

In [ ]:
# Linear Regression Model Training and Evaluation
class LinearRegression_MTE:
    def __init__(self, training_input, training_output, test_input, test_output):
        self.X_train = training_input
        self.y_train = training_output
        self.X_test = test_input
        self.y_test = test_output

    def train(self):
        # train a linear regression model on the training data

    def generate_predictions(self):
        # generate predictions on test

    def get_model(self):
        # return trained linear model

    def get_predictions(self):
        # return test predictions

    def get_MSE(self):
        #

    def get_R2(self):
        #

## 5Ô∏è‚É£ Apply linear regression and evaluate performance per dataset
(a) raw (unscaled) data
(b) reduced version of the training data (via PCA)
(c) scaled data
(d) scaled and reduced via PCA

### Raw (unscaled) data

### Raw (unscaled) data

---

## üìà Insighting